<div class="text-center answer-block">
  <div class="text-center answer-inside">
    <h1> <%= @question %> </h1>
    <h3> You </h3>
  </div>
</div>


<div class="text-center answer-block">
  <div class="text-center answer-inside">
    <h1> <%= @answer %> </h1>
    <h3> The coach </h3>
  </div>
</div>


<h3> Another thing to say to the coach? </h3>
<%= link_to "go back to the question asker!", "ask" %>
