<div class="login">
  <h1> Welcome to the stupid coach </h1>
    <form action="/answer">
      <input type="text" name="query" placeholder="pose ta question au coach" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large"> Be ready to be coached </button>
    </form>
</div>
